header {
  position: sticky;
  top: 0px;
  background-color: #fff;
}
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}
.info-bar__time {
  font-weight: 600;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu-bar__icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.menu-bar__adress {
  font-size: 20px;
  font-weight: 600;
}

.items {
  display: flex;
  height: 100px;
  margin-bottom: 20px;
}
.items-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 15px;
}

.items-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items-info {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.items-info__title {
  margin-bottom: 10px;
}

.items-info {
  display: flex;
  align-items: flex-start;
}

.items-info__time {
  display: flex;
  color: gray;
  font-size: 12px;

  margin-bottom: 10px;
}
.items-info__price {
  font-weight: 600;
}
.items-save {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: gray;
}

.fa-regular {
  margin-right: 5px;
  margin-left: 5px;
}
/* pages */

footer {
  position: sticky;
  bottom: 0px;
}
.pages {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding-top: 5px;

  background-color: #fff;
}

.pages-icons {
  width: 100px;
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pages-icons-title {
  margin-top: 10px;
}
.pages-writebtn {
  background-color: #fe6f0f;
  color: white;
  position: fixed;
  bottom: 120px;
  right: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.media-info-msg {
  display: none;
}

@media screen and (min-width: 600px) {
  .media-info-msg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
